/*
 * Copyright (c) 2025 HU Inc.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <arm/armv8.1-m.dtsi>
#include <zephyr/dt-bindings/clock/stm32n6_clock.h>
#include <zephyr/dt-bindings/reset/stm32n6_reset.h>
#include <zephyr/dt-bindings/memory-attr/memory-attr.h>
#include <zephyr/dt-bindings/memory-attr/memory-attr-arm.h>
#include <freq.h>

/ {
	axisram: memory@24000000 {
		compatible = "mmio-sram";
		reg = <0x24000000 (DT_SIZE_M(2)
			+ DT_SIZE_K(448)
			+ DT_SIZE_K(448)
			+ DT_SIZE_K(448)
			+ DT_SIZE_K(448)
		)>;
	};
	ahbsram: memory@38000000 {
		reg = <0x38000000 (DT_SIZE_K(16) + DT_SIZE_K(16))>;
	};
};
