#
# Copyright (c) 2025 HU Inc.
#
# SPDX-License-Identifier: Apache-2.0
#

# Enable MPU
CONFIG_ARM_MPU=y

# Enable HW stack protection
CONFIG_HW_STACK_PROTECTION=y

# Enable UART
CONFIG_SERIAL=y

# console
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y

# enable GPIO
CONFIG_GPIO=y

# boot loader : for opspro_n6
CONFIG_BOOTLOADER_MCUBOOT=y
CONFIG_MCUBOOT_SIGNATURE_KEY_FILE="${WEST_TOPDIR}/etc/ssl/certs/mcuboot_sign-rsa-2048.pem"
CONFIG_MCUBOOT_GENERATE_CONFIRMED_IMAGE=y

# This snippet enables SEGGER SystemView RTT support with the tracing subsystem.
CONFIG_USE_SEGGER_RTT=y
#CONFIG_RTT_CONSOLE=y

# SystemView RTT Tracing Snippet (rtt-tracing)
#CONFIG_TRACING=y
#CONFIG_SEGGER_SYSTEMVIEW=y
#CONFIG_SEGGER_SYSTEMVIEW_BOOT_ENABLE=n
#CONFIG_SEGGER_SYSVIEW_POST_MORTEM_MODE=n

#CONFIG_DEBUG_OPTIMIZATIONS=y
#CONFIG_DEBUG_THREAD_INFO=y
