#
# Copyright (c) 2025 HU Inc.
#
# SPDX-License-Identifier: Apache-2.0
#

# Enable MPU
CONFIG_ARM_MPU=y

# Enable HW stack protection
CONFIG_HW_STACK_PROTECTION=y

# Enable UART
CONFIG_SERIAL=y

# console
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y

# enable GPIO
CONFIG_GPIO=y

CONFIG_BBRAM=y
CONFIG_FLASH=y
CONFIG_SPI=y
CONFIG_SPI_NOR=y
CONFIG_SPI_NOR_SFDP_DEVICETREE=n

# FLASH
CONFIG_FLASH=y
CONFIG_FLASH_PAGE_LAYOUT=y
CONFIG_FLASH_MAP=y
CONFIG_MPU_ALLOW_FLASH_WRITE=y

CONFIG_BOOT_MAX_IMG_SECTORS=512
CONFIG_BOOT_UPGRADE_ONLY=n
CONFIG_BOOT_BANNER=y
CONFIG_MCUBOOT_LOG_LEVEL_OFF=y
CONFIG_LOG_DEFAULT_LEVEL=0
CONFIG_DEBUG=n
CONFIG_XIP=y
CONFIG_HEAP_MEM_POOL_SIZE=4096

CONFIG_MCUBOOT_SERIAL=n
CONFIG_MCUBOOT_INDICATION_LED=n
CONFIG_MCUBOOT_BOOTUTIL_LIB=y
CONFIG_BOOT_SERIAL_UART=n
CONFIG_BOOT_SERIAL_ENTRANCE_GPIO=n
CONFIG_BOOT_SERIAL_CDC_ACM=n

CONFIG_MULTITHREADING=y
CONFIG_PICOLIBC=y
CONFIG_MCUBOOT_LOG_LEVEL_OFF=n
CONFIG_LOG_DEFAULT_LEVEL=3

CONFIG_ENABLE_MGMT_PERUSER=n
CONFIG_BOOT_SERIAL_WAIT_FOR_DFU=n
#CONFIG_BOOT_SERIAL_WAIT_FOR_DFU_TIMEOUT=500

CONFIG_BOOT_SWAP_USING_SCRATCH=y

# Use the default MCUBoot PEM key file (BOOT_SIGNATURE_KEY_FILE)
CONFIG_BOOT_SIGNATURE_TYPE_RSA=y
CONFIG_BOOT_SIGNATURE_TYPE_RSA_LEN=2048
CONFIG_BOOT_SIGNATURE_KEY_FILE="${WEST_TOPDIR}/etc/ssl/certs/mcuboot_sign-rsa-2048.pem"

CONFIG_RETENTION=y						# - Enables retention system
CONFIG_RETAINED_MEM=y					# - Enables retained memory driver
CONFIG_RETAINED_MEM_ZEPHYR_RAM=y
CONFIG_BOOT_SHARE_DATA=y				# - Enables shared data
CONFIG_BOOT_SHARE_DATA_BOOTINFO=y		# - Enables boot information shared data type
CONFIG_BOOT_SHARE_BACKEND_RETENTION=y	# - Stores shared data using retention/blinfo subsystem

CONFIG_BOOT_MAX_IMG_SECTORS_AUTO=n
