#
# Copyright (c) 2025 HU Inc.
#
# SPDX-License-Identifier: Apache-2.0
#

# Enable MPU
CONFIG_ARM_MPU=y

# Enable HW stack protection
CONFIG_HW_STACK_PROTECTION=y

# Enable UART
CONFIG_SERIAL=y

# console
CONFIG_CONSOLE=n
CONFIG_UART_CONSOLE=n

# enable GPIO
CONFIG_GPIO=y

CONFIG_MCUBOOT_SERIAL=y
CONFIG_MCUBOOT_INDICATION_LED=y
CONFIG_MCUBOOT_BOOTUTIL_LIB=y
CONFIG_BOOT_SERIAL_UART=y
CONFIG_BOOT_SERIAL_ENTRANCE_GPIO=y
CONFIG_BOOT_SERIAL_CDC_ACM=n

CONFIG_MULTITHREADING=y
CONFIG_PICOLIBC=y
CONFIG_MCUBOOT_LOG_LEVEL_OFF=y
CONFIG_LOG_DEFAULT_LEVEL=0

CONFIG_ENABLE_MGMT_PERUSER=y
CONFIG_BOOT_SERIAL_WAIT_FOR_DFU=y
CONFIG_BOOT_SERIAL_WAIT_FOR_DFU_TIMEOUT=500

# Use the default MCUBoot PEM key file (BOOT_SIGNATURE_KEY_FILE)
CONFIG_BOOT_SIGNATURE_TYPE_RSA=y
CONFIG_BOOT_SIGNATURE_TYPE_RSA_LEN=2048
CONFIG_BOOT_SIGNATURE_KEY_FILE="../../etc/ssl/certs/mcuboot_sign-rsa-2048.pem"
