#
# Copyright (c) 2021 Nordic Semiconductor ASA
# Copyright (c) 2025 HU Inc.
#
# SPDX-License-Identifier: Apache-2.0
#
# This file is the application Kconfig entry point. All application Kconfig
# options can be defined here or included via other application Kconfig files.
# You can browse these options using the west targets menuconfig (terminal) or
# guiconfig (GUI).

menu "Zephyr"
source "Kconfig.zephyr"
endmenu

module = APP
module-str = APP
source "subsys/logging/Kconfig.template.log_config"

config BOARD_HAS_VBAT_BATTERY
    bool
    default n
    prompt "Board has VBAT battery support"
    help
      Enable VBAT battery support if the board has a battery connected to
      the VBAT pin of the MCU. This allows the RTC and backup registers to
      retain their content when the main power supply is turned off.