#
# Copyright (c) 2021 Legrand North America, LLC.
# Copyright (c) 2025 HU Inc.
#
# SPDX-License-Identifier: Apache-2.0
#

config HU_APP
	bool "Support for HU APP library"
	help
	  This option enables the 'HU APP' library

source "${ZEPHYR_BASE}/samples/subsys/usb/common/Kconfig.sample_usbd"
source "${ZEPHYR_BASE}/samples/net/common/Kconfig"
