/*
 * Copyright (c) 2025 HU Inc.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	example_sensor: example-sensor {
		compatible = "zephyr,example-sensor";
		input-gpios = <&gpio0 6 GPIO_ACTIVE_LOW>;
	};

	blink_led: blink-led {
		compatible = "blink-gpio-led";
		led-gpios = <&gpio3 0 GPIO_ACTIVE_LOW>;
		blink-period-ms = <1000>;
	};
	aliases {
		hup-uart = &cdc_acm_uart0;
		pwm-led0 = &flexpwm0_pwm0;
	};
};

&zephyr_udc0 {
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
		label = "Zephyr USB CDC-ACM";
		status = "okay";
	};
};
