/*
 * Copyright (c) 2025 HU Inc.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <st/n6/stm32n6-rtc.dtsi>
#include <st/n6/stm32n657x0-sram.dtsi>

/ {
	chosen {
		zephyr,bootloader-info = &boot_info0;
	};
	backup_sram_retained@3c001c00 {
		compatible = "zephyr,memory-region", "mmio-sram";
		reg = <0x3c001c00 DT_SIZE_K(1)>;
		zephyr,memory-region = "RetainedMem";
		status = "okay";

		retainedmem {
			compatible = "zephyr,retained-ram";
			status = "okay";
			#address-cells = <1>;
			#size-cells = <1>;

			boot_info0: boot_info0@0 {
				compatible = "zephyr,retention";
				status = "okay";
				reg = <0x0 0x100>;
				prefix = [08 04];
				checksum = <1>;
			};

			boot_info1: boot_info1@100 {
				compatible = "zephyr,retention";
				status = "okay";
				reg = <0x100 0x300>;
				prefix = [00 11 55 88 fa bc];
			};
		};
	};
	aliases {
		rtc = &rtc;
		bbram = &bbram;
	};
};

&clk_lse {
	driving-capability = <1>;
	status = "okay";
};

&rtc {
	clocks = <&rcc STM32_CLOCK(APB4, 16U)>,
		<&rcc STM32_SRC_LSE RTC_SEL(1)>;
	status = "okay";

    backup_regs {
        status = "okay";
    };
};

&backup_sram {
	reg = <0x3c000000 DT_SIZE_K(7)>;
	status = "okay";
};

&zephyr_udc0 {
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
		label = "Zephyr USB CDC-ACM";
	};
};

&rng {
    status = "okay";
};