/*
 * Copyright (c) 2025 HU Inc.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <st/n6/stm32n6-rtc.dtsi>
#include <st/n6/stm32n657x0-sram.dtsi>

/ {
	chosen {
		zephyr,entropy = &rng;
	};
	
	die_temp: dietemp {
		compatible = "st,stm32-temp-cal";
		ts-cal1-addr = <0x081FF080>;
		ts-cal2-addr = <0x081FF082>;
		ts-cal1-temp = <30>;
		ts-cal2-temp = <110>;
		ts-cal-vrefanalog = <1800>;
		ts-cal-resolution = <16>;
		io-channels = <&adc1 16>;
	};

	vbat: vbat {
		compatible = "st,stm32-vbat";
		ratio = <4>;
		io-channels = <&adc1 17>;
	};
};

&clk_lse {
	status = "okay";
};

&rtc {
	clocks = <&rcc STM32_CLOCK(APB4, 16U)>,
		<&rcc STM32_SRC_LSE RTC_SEL(1)>;

	status = "okay";

	backup_regs {
		status = "okay";
	};
};

&bbram {
	status = "okay";
};

&zephyr_udc0 {
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
		label = "Zephyr USB CDC-ACM";
	};
};

&rng {
    status = "okay";
};