/*
 * Copyright (c) 2025 HU Inc.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include "stm32n6570_dk_app_common.dtsi"
#include <zephyr/dt-bindings/pwm/pwm.h>
#include <zephyr/dt-bindings/pwm/pwm_ifx_tcpwm.h>
#include <zephyr/dt-bindings/pwm/ra_pwm.h>
#include <zephyr/dt-bindings/pwm/stm32_pwm.h>

/delete-node/ &red_led_1;
/ {
	chosen {
		zephyr,sram = &axisrama;
		zephyr,dtcm = &dtcm;
		zephyr,itcm = &itcm;
	};
	example_sensor: example-sensor {
		compatible = "zephyr,example-sensor";
		input-gpios = <&gpioa 6 GPIO_ACTIVE_HIGH>;
	};

	blink_led: blink-led {
		compatible = "blink-gpio-led";
		led-gpios = <&gpioo 1 GPIO_ACTIVE_HIGH>;
		blink-period-ms = <1000>;
	};
	pwmleds: pwmleds {
		compatible = "pwm-leds";
		status = "okay";

		pwm_led_0: pwm_led_0 {
			status = "okay";
			pwms = <&pwm1 1 PWM_MSEC(2000) (PWM_POLARITY_NORMAL | STM32_PWM_COMPLEMENTARY)>;
		};
	};
	gpio_keys {
		compatible = "gpio-keys";

		tamp_button: tamp {
			label = "Tamp";
			gpios = <&gpioe 0 GPIO_ACTIVE_HIGH>;
			zephyr,code = <INPUT_KEY_1>;
		};
		boot1_button: boot1 {
			label = "Boot1";
			gpios = <&gpioa 6 GPIO_ACTIVE_HIGH>;
			zephyr,code = <INPUT_KEY_2>;
		};
	};
	aliases {
		bbram = &bbram;

		pwm-led0 = &pwm_led_0;
		hup-uart = &cdc_acm_uart0;
	};
	itcm: memory@10000000 {
		compatible = "zephyr,memory-region", "arm,itcm";
		reg = <0x10000000 DT_SIZE_K(64)>;
		zephyr,memory-region = "ITCM";
	};

	dtcm: memory@30000000 {
		compatible = "zephyr,memory-region", "arm,dtcm";
		reg = <0x30000000 DT_SIZE_K(128)>;
		zephyr,memory-region = "DTCM";
	};
};

&axisram3 {
	status = "okay";
};

&axisram4 {
	status = "okay";
};

&axisram5 {
	status = "okay";
};

&axisram6 {
	status = "okay";
};

&backup_sram {
	status = "okay";
};

&timers1 {
	status = "okay";
	st,countermode = <0x10>; /* downcounter */

	/delete-node/ pwm1;
	pwm1: pwm {
		status = "okay";
		pinctrl-0 = <&tim1_ch1_pe9 &tim1_ch1n_pg10>;
		pinctrl-names = "default";
	};
};
